/node_modules
/public/hot
/public/storage
/vendor
/bootstrap/cache
.env*
!.env.common
!.env.sample
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/**.DS_STORE
/.idea
.php_cs.cache
.bash.exe.stackdump
.vscode/

_lighthouse_ide_helper*
programmatic-types*
schema-directives*
.vscode/
tools/
Dockerfile.local